
<table class=table>
    
    
    <tr>
        <th>AMOUNT</th>
        <th>DESCRIPTION</th>
        <th>MONTH</th>
      
    </tr>
    
    <tr>
   <td><%=@income.amount %></td>
   <td><%=@income.description%></td>
   <td><%=@income.month.name%></td>


    </tr>


</table>

<H1>UPDATE THIS INCOME </H1>

<div class="form-group">
<%= form_tag "/new_income",method:"post" do  %>

 <label for="sname">amount</label>
 <input type="text" name="amount"  placeholder="amout" />
 
 
 <label for="sname">description</label>
 
 <input type="text" name="description" placeholder="description"/>

 <label for="sname">month</label>
   <select name="month_id"
    
   <%= @month.each do |month|%>
  <option value="<%= month.id %>">  <%=month.name%>  </option>
   <%end%>
    
 </select>
 
 

 <input type="submit" value="ajout " />


</div>


<% end %>