<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    
     <% if user_signed_in? %>
      <%= link_to "UBank", welcome_path, id: "logo" %>
       <%else%>
       <%= link_to "UBank", root_path, id: "logo" %>
      <%end%>
    <nav>
      
      
     <ul class="nav navbar-nav navbar-right">
           <% if user_signed_in? %>
                   <li> <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |</li>
             <li>  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
            
           <%else %>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Help", help_path %></li>
              <li><%= link_to "Log in", new_user_session_path %></li>
   
   
           <%end %>
      
       
       
         
         
      </ul>
    </nav>
  </div>
</header>